body {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-color-bg {
  background: #db584a !important;
  color: #eee;
}

.title h2 {
  color: #eee;
}

.active {
  background: #b2483c !important;
  border: none;
}

#main {
  flex-grow: 1;
}

/* NAVBAR */
.navbar {
  background: #db584a;
}

.nav-link, .navbar-brand {
  color: rgba(255,255,255,.8) !important;
  margin: 0 .3em;
}

.navbar-brand {
  padding-right: .75em;
  margin-right: .75em;
  border-right: 1px solid rgba(255,255,255,.5) !important;
}

.nav-active {
  background: #b2483c !important;
  border: none;
  border-radius: 4px;
}

.welcome:hover {
  background: #db584a !important;
}

.nav-link:hover {
  background: #b2483c;
  border-radius: 4px;
}

.nav-spacer {
  display: none;
}

/* HEADER */
#header {
  padding: 1em;
  background: #333;
  color: #eee;
}

.dropdown{
  margin-top: .4em;
}
.dropdown-menu {
  padding: .3em;
}

.dropdown-item {
  padding-left: .5em;
}

#header small {
  color: #bbb;
  font-size: .65em;
}

.fa-cogs {
  margin-right: .2em;
}

/* BREADCRUMB */
.breadcrumb {
  background-color: #ccc;
  color: #333;
  padding: .25em .7em;
  margin: .75em 0;
}

.breadcrumb a {
  color: #333;
}

/* MAIN */
.sidebar {
  padding: .5em 1em !important;
}

.badge {
  background: #333;
  margin-left: auto !important;
  border-radius: 8px;
}

.capacity, .visitors {
  padding: .75em;
}

.capacity h5 {
  text-align: center;
  font-size: 1em;
}

.progress-bar {
  padding: .25em .75em !important;
  height: 100%;
  text-align: left;
  background: #333;
}

.line, .line-spacer {
  padding: 0;
  margin: 0;
}

 .visitors hr {
   width: 95px;
   margin: .5em auto .35em auto;
 }

.visitors h5, .visitors p {
  text-align: center;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.visitors h5 {
  font-size: 1.1em;
}

.visitors p {
  font-size: .8em;
  font-weight: 600;
}

.live-dot {
  height: 7px;
  width: 7px;
  margin-bottom: 1px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


/* WEBSITE OVERVIEW */
.card-header h2 {
  font-size: 1em;
  margin-bottom: 0 !important;
}

.overview-header {
  color: #eee;
  padding: .7em;
  border-color: none;
}

.overview-container {
  text-align: center;
  padding: .5em;
}

.overview-container h2 {
  font-size: 1.3em;
  text-align: center;
}

.overview-container h4 {
  font-size: 1.1em;
  margin-bottom: .25em;
}

.overview-cards {
  display: inline-block;
  width: 140px;
  margin: .5em .6em;
}

.overview-cards .card-block {
  padding: .85em;
}

/* LATEST USERS / POSTS / PAGES*/
td {
  font-size: .8em;
  padding: .8em !important;
}

.tablehead th {
  padding: .4em;
}

.table-overflow {
  overflow-x: auto;
  padding-bottom: 0;
}

.table-overflow button {
  padding: .2em .4em;
  font-size: 1.2em;
}

.edit-btn a {
  color: #333;
}

.fa-check-circle {
  color: green;
}

/* MODAL */
.save-changes {
  background: #db584a !important;
  border: none;
}

input[type=submit] {
  background: #db584a !important;
  color: #eee;
  border: none;
}

input[type=submit]:hover {
  color: #eee;
  cursor: pointer;
}

/*FOOTER*/
#footer {
  text-align: center;
  background-color: #333;
  padding: 5px;
  margin-top: 3em;
  width: 100%;
}

#footer small {
  color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  #header h1 {
    font-size: 1.65em !important;
    margin: 0 auto !important;
  }

  #header {
    padding: 1em 0 .25em 0;
  }

  .dropdown button {
    margin: 1em 0 !important;
    font-size: 1em;
    padding: .3em .6em;
  }
}

@media (max-width: 767px) {
  .dropdown, .dropdown-menu, #header {
    text-align: center;
  }

  #header h1 {
    font-size: 2.5em;
    margin: 0 0 .2em 0;
  }

  .nav-link {
    padding: .25em 0 .25em .5em !important;
  }
  .nav-active {
    width: 100%;
    margin: .25em 0;
  }
  .navbar-brand {
    padding-left: .15em;
    border-right: 1px solid rgba(255,255,255,0) !important;
  }
  .nav-spacer {
    display: block !important;
  }
  .navbar-toggler {
    height: 30px !important;
    font-size: .8em;
    margin-top: .3em;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .dropdown-menu {
    margin-left: 10.95em;
  }
}

@media (max-width: 370px) {
  .overview-cards {
    display: inline-block;
    width: 100%;
    margin: .25em 0;
  }

  .overview-container {
    padding: .35em;
  }
}

@media (min-width: 1200px) {
  .overview-cards {
    display: inline-block;
    width: 220px;
  }
}
